body{

font-family:'Poppins';

background:linear-gradient(135deg,#d9b3ff,#f3e6ff);

margin:0;

}


.main-title{

text-align:center;

font-family:'Playfair Display';

color:#4b0082;

margin-top:20px;

}


.container{

display:flex;

justify-content:center;

gap:40px;

margin-top:30px;

}


.left-panel,.right-panel{

background:white;

padding:25px;

border-radius:20px;

width:400px;

box-shadow:0 10px 25px rgba(0,0,0,0.1);

}


.right-panel{

text-align:center;

}


input{

width:100%;

padding:10px;
padding-right: 1px;
padding-left: 1px ;

border-radius:10px;

border:1px solid #ccc;

margin-bottom:10px;

}


.date-box{

display:flex;

justify-content:center;

gap:40px;

color:#6a0dad;

font-weight:600;

font-size:18px;

margin-bottom:15px;

}


.table-container{

max-height:250px;

overflow-y:auto;

}


.slot-table{

width:100%;

border-collapse:collapse;

}


.slot-table th{

background:#b57edc;

color:white;

padding:10px;

}


.slot-table td{

padding:10px;

text-align:center;

border-bottom:1px solid #eee;

}


video{

width:100%;

border-radius:15px;

border:4px solid #b57edc;

}


button{

margin-top:20px;

background:#800080;

color:white;

padding:12px 25px;

border:none;

border-radius:10px;

cursor:pointer;

font-size:16px;

}


button:hover{

background:#9932cc;

}


.result-box{

text-align:center;

margin-top:30px;

font-size:22px;

font-family:'Playfair Display';

color:#4b0082;

}



/* FACE DETECT ANIMATION */

.face-detected{

animation:glow 1s infinite alternate;

}


@keyframes glow{


from{

box-shadow:0 0 10px purple;

}


to{

box-shadow:0 0 25px magenta;

}


}



/* POPUP */

.popup{

display:none;

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:rgba(0,0,0,0.5);

justify-content:center;

align-items:center;

}


.popup-content{

background:white;

padding:30px;

border-radius:15px;

text-align:center;

}